@import '../../../../imports';

.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    &__dialog{
        max-width: 500px;
        margin: 50px auto;
        background: #fff;
        padding: 20px;
        border-radius: 4px;
    }
    .message-author{
        font-weight: bold;
        display: inline-block;
    }
    .message-time{
        display: inline-block;
        margin-left: 20px;
    }
    .message-text{
        margin-top: 10px;
    }
}